.expenses{
    color: green;
    background-color: azure;
    margin-bottom: 3rem;
}
.expense-list{
    
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 10px;
}