.container {
    background-color: rgb(7, 3, 71);
    color: white;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    border: 4px dotted white;
}

.inputs {
    width: 300px;
    height: 20px;
    border-radius: 3px;
    border: 1px double yellow;
}

.btn {
    padding: 0.3rem;
    background-color: brown;
    border-radius: 4px;
}